{% extends 'base.html.twig' %}

{% block title 'Nouvelle Crypto - Crypto Tracker' %}

{% block body %}

{{ form_start(form,{'attr': {'id': 'addNewCryptoForm'}}) }}
<div class="page-container">
    <div class="py-2 borderBottom">
        <div class="d-flex justify-content-between text-light" >
            <div class="ml-2 h1 regular"><a href="{{ path('app_crypto_index')}}" class="text-decoration-none text-light">×</a></div>
            <div class="h4 d-flex align-items-center">Ajouter une Crypto Monnaie</div>
            <div class="invisible"></div>
        </div>
    </div>

    <div class="m_top col-10 mx-auto content-wrap">

        <div id="inputContainer" style="z-index: 1;" class="my-5 p-2 border rounded">
            <div class="d-flex">
                <div class="h4 ml-2 mr-4 pt-1 theme_grey material-icons">add</div>
                {{ form_widget(form.name, {'attr': {'placeholder': 'Ajouter une crypto', 'class': 'text-light regular theme_background w-100 pt-1 ', 'autocomplete':'off',  'size':'10000' }}) }}
            </div>
            <ul class="items"></ul>
            {{ form_errors(form.name) }}
        </div>

    </div>

</div>

<div class="center btnFooter" style="z-index: -1;">
    <a onclick="inputValidation()" style="z-index: -1;" class="py-3 btn btn-lg theme_background_darckGrey theme_color">AJOUTER</a>
</div>
{{ form_end(form) }}

<script>

const words = JSON.parse('{{ cryptoList | json_encode | raw }}')

const inputContainer = document.querySelector('#inputContainer')
const formEl = document.querySelector('#crypto_name')
const dropEl = document.querySelector('.items')

function setItemToInput(id) {
    formEl.value = id; 
}

const formHandler = (e) => {
    
    const userInput = e.target.value.toLowerCase()

    if(userInput.length === 0) {
        dropEl.style.height = 0
        return dropEl.innerHTML = ''              
    }

    const filteredWords = words.filter(word => word.toLowerCase().includes(userInput)).sort().splice(0, 20)
    
    dropEl.innerHTML = ''
    filteredWords.forEach(item => {
        const listEl = document.createElement('li')
        listEl.textContent = item
        listEl.id = item
        listEl.setAttribute("onclick", "setItemToInput('"+ listEl.id  +"')")

        if(item === userInput) {
            listEl.classList.add('match');
        }
        dropEl.appendChild(listEl)
    })

    if(dropEl.children[0] === undefined) {
        inputContainer.classList.add("border-danger");
        inputContainer.classList.remove("border-light");
        return dropEl.style.height = 0
    }
    else {
        inputContainer.classList.add("border-light");
        inputContainer.classList.remove("border-danger");
    }

    if (filteredWords.length > 5){
        var wordDiplay = 5;
    }
    else {
        var wordDiplay = filteredWords.length;
    }
    let totalChildrenHeight = dropEl.children[0].offsetHeight * wordDiplay
    dropEl.style.height = totalChildrenHeight + 'px'

}

function inputValidation() {
    if(words.includes(formEl.value)) {
        document.getElementById("addNewCryptoForm").submit(); 
    }
    else {
        inputContainer.classList.add("animationInputshake");
        setTimeout(function(){ inputContainer.classList.remove("animationInputshake"); }, 1000);
    }
}

formEl.addEventListener('input', formHandler)



</script>

{% endblock %}
