{% extends 'base.html.twig' %}

{% block title 'Nouvelle Crypto - Crypto Tracker' %}

{% block body %}

{{ form_start(form) }}
<div class="page-container">
    <div class="py-2 borderBottom">
        <div class="d-flex justify-content-between text-light" >
            <div class="ml-2 h1 regular"><a href="{{ path('app_crypto_index')}}" class="text-decoration-none text-light">×</a></div>
            <div class="h4 d-flex align-items-center">Ajouter une Crypto Monnaie</div>
            <div class="invisible"></div>
        </div>
    </div>

    <div class="m_top col-10 mx-auto content-wrap">

        <div class="my-5 p-2 border border-light rounded">
            <div class="d-flex">
                <div class="h4 ml-2 mr-4 pt-1 theme_grey material-icons">add</div>
                {{ form_widget(form.name, {'attr': {'placeholder': 'Ajouter une crypto', 'list':'listCrypto', 'class': 'text-light regular theme_background w-100 pt-1 ', 'size':'10000' }}) }}
                {# <datalist id="listCrypto">
                        {% for crypto in cryptoList %}
                        <option value="{{ crypto }}">
                        {% endfor %}
                </datalist>      #}
            </div>
            <ul class="drop"></ul>
            {{ form_errors(form.name) }}
        </div>

    </div>

</div>

<div class="center btnFooter">
    <button type="submit" class="py-3 btn btn-lg theme_background_darckGrey theme_color">AJOUTER</button>
</div>
{{ form_end(form) }}


<style>
    ul {        
    height: 0;
    overflow: hidden; 
    transition: .4s height;
    margin: 0;
    padding: 0;
}

li {
    /* font-size: 13px; */
    padding: 10px;
    list-style: none;
    border-top: 1px solid #ffffff;
    margin: 0 2%;
    cursor: pointer;
}

.match {
    font-weight: 600;
    color: green;
}
</style>

<script>
    const words = ["suppose end get","boy warrant general","natural. delightful","met sufficient projection ask.","decisively everything","principles if preference","do","impression","of. preserved oh so","difficult repulsive on","in household. in what","do","miss time be. valley","as be","appear","cannot so","by.","convinced resembled dependent","remainder led zealously","his shy own","belonging. always length","letter","adieus","add number moment she.","promise few","compass six several old","offices removal parties","fat. concluded","rapturous it intention","perfectly daughters","is as.","behaviour we","improving at something","to. evil true","high lady roof men","had open.","to projection considered it","precaution an","melancholy or.","wound young","you thing","worse along being ham.","dissimilar of favourable solicitude","if sympathize middletons","at. forfeited","up if disposing","perfectly in an","eagerness perceived necessary.","belonging sir","curiosity discovery","extremity yet","forfeited prevailed","own off.","travelling by","introduced of","mr terminated. knew as","miss","my high hope quit. in","curiosity shameless dependent","knowledge up.","literature admiration","frequently indulgence announcing","are who you","her. was","least quick after","six. so","it yourself repeated","together","cheerful. neither it cordial so","painful picture studied if.","sex","him position doubtful","resolved boy expenses.","her engrossed deficient","northward and neglected favourite newspaper.","but","use peculiar","produced concerns ten. maids","table how","learn","drift","but purse","stand yet","set. music me","house could","among oh","as their. piqued","our","sister shy nature almost","his","wicket.","hand dear","so we hour","to. he","we be","hastily","offence effects","he service. sympathize","it projection","ye insipidity celebrated"]

const formEl = document.querySelector('#crypto_name')
const dropEl = document.querySelector('.drop')

// formEl.addEventListener("click", Johnny);
function setItemToInput(id) {
    formEl.value = id; 
}

const formHandler = (e) => {

    const userInput = e.target.value.toLowerCase()

    if(userInput.length === 0) {
        dropEl.style.height = 0
        return dropEl.innerHTML = ''              
    }

    const filteredWords = words.filter(word => word.toLowerCase().includes(userInput)).sort().splice(0, 4)
    
    dropEl.innerHTML = ''
    filteredWords.forEach(item => {
        const listEl = document.createElement('li')
        listEl.textContent = item
        listEl.id = item
        listEl.setAttribute("onclick", "setItemToInput('"+ listEl.id  +"')")

        if(item === userInput) {
            listEl.classList.add('match');
        }
        dropEl.appendChild(listEl)
    })

    if(dropEl.children[0] === undefined) {
        return dropEl.style.height = 0
    }

    let totalChildrenHeight = dropEl.children[0].offsetHeight * filteredWords.length
    dropEl.style.height = totalChildrenHeight + 'px'

}

formEl.addEventListener('input', formHandler)
</script>

{% endblock %}
