{% extends 'base.html.twig' %}

{% block title 'Cryptos - Crypto Tracker' %}

{% block body %}

<div class="py-2 borderBottom mb-5">
    <div class="d-flex justify-content-between">
        <div class="ml-3"><a href="{{ path('app_contract_home')}}" class="text-decoration-none"><h1 class="text-light h2">Crypto Tracker</h1></a></div>
        <div class="mr-3"><a href="{{ path('app_crypto_new')}}" class="text-decoration-none text-light regular h2">+</a></div>    
    </div>
</div>

{% if cryptos|length > 0  %} 
<div class="mt-5 mx-4 col-10 mx-auto">     
    {% for crypto in cryptos %}
        <div class="mb-5 borderBottom click" data-toggle="modal" data-target="#deleteModal-{{ crypto.id }}">
            <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-start">
                    <div class="">
                        <img width="20" src={{ crypto.getCryptoImageUrl }}>
                    </div>
                    <div class="ml-2 text-light d-flex align-items-start">
                        <h4>{{ crypto.acronym }}</h4>
                    </div>
                    <div class="ml-2">
                        <p class="text-light regular">({{ crypto.name|capitalize }})</p>
                    </div>
                </div>
                <div>
                    {{ cryptoFluctuation(crypto, sumCrypto) | raw }}  
                </div>
            </div>
        </div>
        <form id="js-crypto-delete-form-{{ crypto.id }}" action="{{ path('app_crypto_delete', {'id': crypto.id}) }}" method="post" style="display: none;">
            <input type="hidden" name="_token" value="{{ csrf_token('crypto_deletion_' ~ crypto.id) }}">
            <input type="hidden" name="_method" value="DELETE">
        </form>

        <!-- Modal -->
            <div class="modal fade" id="deleteModal-{{ crypto.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="bg-danger">
                        <button type="button" class="mr-2 close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    <div class="my-5 icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    </div>
                    <div class="modal-body text-center">
                    <h4 class="mb-3 h3 modal-title text-dark" id="deleteModalModalLabel-{{ crypto.id }}">Supprimer {{ crypto.name|upper }}</h4>
                    <p class="h6 text-dark">Êtes-vous sûr de vouloir supprimer cette crypto monnaie ? <br>
                    Toutes vos transactions associées seront supprimées !</p>
                    </div>
                    <div class="my-3 border-top text-center">
                    <button type="button" class="mt-2 btn btn-primary btn-lg" data-dismiss="modal">Annuler</button>
                    <button type="button" class="mt-2 btn btn-outline-danger btn-lg" onclick="document.getElementById('js-crypto-delete-form-{{ crypto.id }}').submit();">Supprimer</button>
                    </div>
                </div>
                </div>
            </div>
    {% endfor %}

    {% else %}
        <p class="mt-5 h1 text-center ">Pas encore de crypto enregistrées<a href="{{ path('app_crypto_new') }}" class="text-muted">En créer !</a></p>
    {% endif %}

{% endblock %}
