{% extends 'base.html.twig' %}

{% block title 'Menu - Crypto Tracker' %}

{% block body %}

<div class="py-2 borderBottom">
    <div class="d-flex justify-content-between">
        <div class="ml-3"><a href="{{ path('app_contract_home')}}" class="text-decoration-none"><h1 class="text-light h2">Crypto Tracker</h1></a></div>
        <div class="d-flex justify-content-end">
            <div class="mr-4 d-flex align-items-center"><a href="{{ path('app_crypto_index')}}" class="text-decoration-none material-icons text-light h2">edit</a></div>
            <div class="mr-3"><a href="{{ path('app_contract_add')}}" class="text-decoration-none text-light regular h2">+</a></div>
        </div>    
    </div>
</div>

<a href="{{ path('app_history_graph')}}" class="text-decoration-none"><div class="py-5 h1 text-center text-light background">
    <p> {% if benefit(contracts) >= 0 %}+{% endif %} {{ benefit(contracts) }} €</p></div></a>

{% if contracts|length > 0  %} 
<div class="mt-4 mx-4 col-10 mx-auto">       
    {% for contract in contracts %}
        <div class="mb-5 borderBottom click" onclick="window.location.href = '{{ path('app_contract_delete', {'id': contract.id}) }}'">
            <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-start">
                    <div>
                        <img width="20" src={{ contract.crypto.getCryptoImageUrl }}>
                    </div>
                    <div class="ml-2 text-light d-flex align-items-start">
                        <h4>{{ contract.crypto.acronym }}</h4>
                    </div>
                    <div class="ml-2">
                        <p class="text-light regular">({{ contract.crypto.name|capitalize }})</p>
                    </div>
                </div>
                <div>
                    {{ fluctuation(contract) | raw }}  
                </div>
            </div>
        </div>
        
    {% endfor %}

    {% else %}
        <p class="mt-5 h2 text-center ">Pas encore de transactions. <a href="{{ path('app_contract_add') }}">The first!</a></p>
{% endif %}
</div>
      
{% endblock %}
